/*responsive:: first phone */
*{
  --c1-moon: #FCEAE8;
  --b2-moon: #C9BDBD;
  --c2-sun: #F2BC57;
  --c3-sun: #F29C50;
  --c4-sun: #732C03;
  --c5-sun: #F26D3D;
}

/*
:::App.jsx
*/
.App{
  background-color: var(--c5-sun);
}
.App__header{
  color: var(--c1-sun);
  text-align: center;
}
.header__img{
  width: 100%;
}
.header__h1{
  color: var(--c1-moon);
  font-size: 1.50em;
  font-weight: 800;
  padding-top: 1.25rem;
}

/* Location.jsx */
.location{
  background-color: var(--c5-sun);
  padding: 5%;
}

.location__search{
  background-color: var(--c3-sun);
  display: flex;
  border-radius: 25px;
}
.search__input{
  color: var(--c1-moon);
  font-size: 0.98em;
  font-weight: 600;
  border-radius: 25px 0 0 25px;
  border: var(--c1-moon)  solid 1px;
  padding: 0.37rem;
  width: 85%;
}
::placeholder{
  color: var(--c1-moon);
}
.search__btn{
  border-radius: 0 25px 25px 0px;
  border: var(--c1-moon) solid 1px;
  width: 15%;
  padding-left: 5px;
}
.btn__svg{
  width: 24px;
  color: var(--c1-moon);
}

.location__section{
  padding: 5% 0;
  display: flex;
  flex-direction: column;
}
.section__div{
  color: var(--c1-moon);
}
.div__p{
  font-size: 1.045em;
  font-weight: 600;
  padding: 0.15rem 0;
}
.div__p-title{
  font-size: 1.15em;
  text-align: center;
  padding-bottom: 0.5rem;
}
.div__p-b{
  color: var(--b2-moon);
}

.location__element{
  text-align: center;
}
.element__h2{
  color: var(--c1-moon);
  font-size: 1.25em;
  font-weight: 700;
  padding-bottom: 0.75rem;
}
.element__ul{
  background-color: var(--c3-sun);
}

/*ElementLocation.jsx*/
.ul__li{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.li__card{
  color: rgb(36, 33, 33);
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 0.5rem;
}
.card__p{
  text-align: center;
}
.card__img{
  width: 25%;
  align-items: center;
}

/*Footer*/
.App__footer{
  padding: 0.75rem;
}
.footer__p{
  color: var(--c1-moon);
  font-size: 0.70em;
  text-align: center;
}